<button mat-button routerLink="">Angular Forms</button>
<button mat-button routerLink="/templateForm">Form - Template Driven</button>
<button mat-button routerLink="/dataForm">Form - Data Driven</button>

<!-- <mat-tab-group>
  <mat-tab label="Home" routerLink="">Angular Forms</mat-tab>
  <mat-tab label="Template Form" routerLink="/templateForm">Form - Template Driven</mat-tab>
  <mat-tab label="Data Form" routerLink="/dataForm">Form - Data Driven</mat-tab>
</mat-tab-group> -->

<h1>{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>